{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    ["@babel/env", { "modules": false }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ],
    ["import", { "libraryName": "antd-mobile", "style": "css" }, "mobile"]
  ]
}
